<!DOCTYPE html>
<html>

<%- include('./partials/header.ejs') %>

<body class="chat">

        <div class="chat__sidebar">
          <h3>People</h3>
          <div id="users">
            <ol class="user-list">
            </ol>
            <ol class="old-list">
                        <h1><%= user.name %></h1>  
            </ol>
          </div>
          <figure><img src="https://picsum.photos/200/400" alt=""></figure> 
        </div>
      
        <div class="chat__main">
          <ol id="messages" class="chat__messages"></ol>
      
          <div class="chat__footer">
            <form id="message-form">
              <input name="message" type="text" placeholder="Message" autofocus autocomplete="off"/>
              <button>Send</button>
            </form>
            <button id="send-location">Send location</button>
          </div>
        </div>
      
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/chat.js"></script>
      </body>

</html>