<!DOCTYPE html>
<html>

<%- include('./partials/header.ejs') %>

<body>
  <h1>Login to chatroom</h1>
  <form action="/chat" method="post">
    <label for="username">Enter your Username: </label>
    <input type="text" name="username" placeholder="username" />
    <label for="password">Enter your password: </label>
    <input type="password" name="password" placeholder="password" />
    <label for="name">Enter your name: </label>
    <input type="text" name="name"/>
    <label for="room">Pick a room: </label>
    <input type="text" name="room"/>
  <input type="submit" value="login" />
</form><a href="/register">register</a>
<figure><img src="https://picsum.photos/200/300" alt=""></figure> 

</body>

</html>