<!DOCTYPE html>
<html>

<%- include('./partials/header.ejs') %>

<body class="centered-form">
        <div class="centered-form__form">
          <form action="/chat" method="post">
            <input type="hidden" name="userId" value="<%= userId %>"/>            <div class="form-field">
              <h3>Join a Chat<h3>
            </div>
            <div class="form-field">
              <label>Display name</label>
              <input type="text" name="name" autofocus/>
            </div>
            <div class="form-field">
              <label>Room name</label>
              <input type="text" name="room"/>
            </div>
            <div class="form-field">
              <input type="submit" value="Enter">
            </div>
          </form>
        </div>
      </body>

</html>