<!DOCTYPE html>
<html>

<%- include('./partials/header.ejs') %>

<body>
        <h1>Our boring application</h1>
        <form action="/register" method="post">
            <input type="text" name="username" placeholder="username" />
            <input type="password" name="password" placeholder="password" />
            <input type="submit" value="register" />
        </form>
    </body>

</html>